name: Automatic update

on:
  workflow_dispatch:
  schedule:
    - cron: '30 0 * * *'

jobs:
  Update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        persist-credentials: false
        fetch-depth: 0
    - name: Cache download tmp
      uses: husarnet/cache@v2.always
      env:
        cache-name: cache-android-info
      with:
        path: |
          download_tmp/platform
        key: ${{ runner.os }}-${{ env.cache-name }}
        restore-keys: |
          ${{ runner.os }}-${{ env.cache-name }}-
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
        cache: "pip"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Update outputs
      run: python main.py
    - name: Push updates
      uses: GuillaumeFalourd/git-commit-push@v1.3
      with:
        commit_message: Automatic update commit
