name: Automatic update

on:
  workflow_dispatch:
  schedule:
    - cron: '25 0 * * 1'

jobs:
  auto-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Setup Python uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          enable-cache: "auto"
          cache-dependency-glob: "**/pyproject.toml"
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "gradle"
          cache-dependency-path: |
            libs/PlatformTools/*.gradle*
            libs/PlatformTools/**/gradle-wrapper.properties
      - name: Run scripts
        run: uv run src/main.py
      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          message: Automatic update ${{ steps.date.outputs.date }}
